nav h3 {
    float: left;
    padding-right: 2em;
}

nav h3 a, nav h3 a:hover, nav h3 a:visited {
    color: #eee;
    text-decoration: none;
}

.navbar .nav > li > a:hover, .navbar .nav > li.dropdown > .dropdown-toggle:hover, .navbar .nav > li.dropdown.open > .dropdown-toggle, .navbar .nav > li.dropdown.active > .dropdown-toggle:hover, .navbar .nav > li.dropdown.active.open > .dropdown-toggle {
    background: #002147;
    color: #eee;
}

p {
    margin-top: .5em;
    margin-bottom: 1.5em;
}

.post .post-header {
    padding-bottom: 0;
}

.navbar .nav {
    margin-top: 1.1em;
}

.nav a {
    font-size: 20px;
}

footer {
    color: #eee;
    background: #002147;
}

footer .container {
    padding-top: 0.8em;
    padding-bottom: 1em;
    font-size: 16px;
}

.masthead-sub h1 {
    font-size: 28px;
    text-align: center;
    padding-top: 0.5em;
}

.content-blog {
    padding-top: 3em;
}

.post-content {
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    word-spacing: 0.04em;
}

.share-buttons {
    padding-top: 1em;
    text-align: center;
}

.navbar .nav > li > a {
    text-transform: none;
}

.sidebar h4 {
    padding-top: .5em;
    font-size: 20px;
}

.copyright {
    padding-right: 3em;
}

.navbar .navbar-pad {
    background: #002147;
}

@media (max-width: 480px) {
    .post-title h2 {
        font-size: 20px;
        line-height: 1.7;
    }
}
