        <div class="sidebar">
            <h4>Stay Updated</h4>
            <br />
            <ul id="blog-stats" class="mark-list">
                <li class="circle ui-tooltip" title="Tech Atom Feed">
                    <a href="{{ site.url }}/feed/tech.xml"> <span class="mark"> <i class="icon-rss"></i> </span> <span class="count">Tech</span> Atom feed </a>
                </li>
                <li class="circle ui-tooltip" title="Drupal Atom Feed">
                    <a href="{{ site.url }}/feed/drupal.xml"> <span class="mark"> <i class="icon-rss"></i> </span> <span class="count">Drupal</span> Atom feed </a>
                </li>
            </ul>

            <br />

            <h4>Featured Projects</h4>
            <ul class="recent-posts">
                <li>
                    <div class="recent-post-thumbnail">
                        <a href="/blog-single.html"> <img width="60" height="60" src="/img/blog/blog-small-1.png" alt="" /> </a>
                    </div>
                    <div class="recent-post-title">
                        <h4><a href="https://drupal.org/project/facetapi" target="_blank"> Facet API </a></h4>
                        <span class="recent-post-date"> PHP / Drupal </span>
                    </div>
                </li>
                <li>
                    <div class="recent-post-thumbnail">
                        <a href="/blog-single.html"> <img width="60" height="60" src="/img/blog/blog-small-1.png" alt="" /> </a>
                    </div>
                    <div class="recent-post-title">
                        <h4><a href="https://github.com/cpliakas/php-project-starter" target="_blank"> PHP Project Starter </a></h4>
                        <span class="recent-post-date"> PHP </span>
                    </div>
                </li>
                <li>
                    <div class="recent-post-thumbnail">
                        <a href="/blog-single.html"> <img width="60" height="60" src="/img/blog/blog-small-1.png" alt="" /> </a>
                    </div>
                    <div class="recent-post-title">
                        <h4><a href="https://github.com/cpliakas/acquia-sdk-php" target="_blank"> Acquia SDK PHP </a></h4>
                        <span class="recent-post-date"> PHP </span>
                    </div>
                </li>
                <li>
                    <div class="recent-post-thumbnail">
                        <a href="/blog-single.html"> <img width="60" height="60" src="/img/blog/blog-small-1.png" alt="" /> </a>
                    </div>
                    <div class="recent-post-title">
                        <h4><a href="https://github.com/cpliakas/git-wrapper" target="_blank"> Git Wrapper </a></h4>
                        <span class="recent-post-date"> PHP </span>
                    </div>
                </li>
            </ul>
        </div>