/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.section_light p {
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
    text-justify: inter-word;
}

.share-buttons {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


