<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href="/css/bootstrap-custom.min.css" rel="stylesheet">

        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">

        <link href="/css/launched.css" rel="stylesheet">
        <link href="/css/launched-responsive.css" rel="stylesheet">
        <link href="/css/app.css" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body class="fixed-header">

        <nav class="navbar">
            <div class="navbar-pad">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h3>ChrisPliakas.com</h3>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-left">
                            <li>
                                <a href="/">Blog</a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            <li>
                                <a href="https://twitter.com/cpliakas" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @cpliakas</a>
                                <script>
									! function(d, s, id) {
										var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
										if (!d.getElementById(id)) {
											js = d.createElement(s);
											js.id = id;
											js.src = p + '://platform.twitter.com/widgets.js';
											fjs.parentNode.insertBefore(js, fjs);
										}
									}(document, 'script', 'twitter-wjs');
                                </script>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        {{ content }}

        <footer>
            <div class="container">
                <ul class="pull-left">
                    <li>
                        <span class="mark"> <i class="icon-linkedin-sign"></i> </span>
                        <a href="https://www.linkedin.com/in/cpliakas" target="_blank">LinkedIn</a>
                    </li>
                    <li>
                        <span class="mark"> <i class="icon-github"></i> </span>
                        <a href="https://github.com/cpliakas" target="_blank">GitHub</a>
                    </li>
                    <li>
                        <span class="mark"> <i class="icon-twitter"></i> </span>
                        <a href="https://twitter.com/cpliakas" target="_blank">Twitter</a>
                    </li>
                </ul>
                <ul class="pull-right copyright">
                    <li>
                        &copy; 2013 Chris Pliakas
                    </li>
                </ul>
            </div>
        </footer>

        <script src="/js/vendor/jquery-1.9.1.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/plugins/bootstrap-dropdown/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script src="/js/main.js"></script>

    </body>
</html>
